<template>
    <nav class="navbar navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="#" style="margin:auto;">
                <img src="../../public/favicon.png" width="30" height="30" style="margin-top: -.25rem;" alt="logo">
                StrainPedia
            </a>
        </div>
    </nav>
</template>

<script>
export default {
    name: "Navbar",
    methods: {
        newSearch(search) {
            this.$emit("new-search", search);
        }
    }
}
</script>

<style scoped>
    .navbar {
        background-color: #004a0c;
        border-bottom: 1px solid #64a861;
        padding: 0px 5rem;
        margin: 0px -16px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .navbar-brand {
        margin-top: 0rem;
    }

    .btn
    {
        background-color: #783577;
        border-color: #ca98c2;
    }
</style>