<template>
    <div id="SearchBox">
        <div class="dropdown">
            <p>
                Search by:
                <button class="btn btn-secondary dropdown-toggle" type="button" id="keyDropdown" data-toggle="dropdown" aria-expanded="false" style="background-color: #783577;">
                    {{this.key}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="keyDropdown">
                    <li><button class="dropdown-item" type="button" v-on:click="changeKey('Name')">Name</button></li>
                    <li><button class="dropdown-item" type="button" v-on:click="changeKey('Effect')">Effect</button></li>
                    <li><button class="dropdown-item" type="button" v-on:click="changeKey('Flavor')">Flavor</button></li>
                </ul>
            </p>
        </div>

        <form @submit="newSearch">
            <div v-if="this.key == 'Name'">
                <label for="searchinput" style="display: none;">Search input</label>
                <input type="text" id="searchinput" v-model="search" name="search" placeholder="What strain's on your mind?" style="margin-right: .5rem;">
                <input type="submit" value="Search" class="btn btn-dark">
            </div>
            <div v-else-if="this.key == 'Effect'">
                <p> What effect are you looking for? </p>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="effectKeyDropdown" data-toggle="dropdown" aria-expanded="false">
                    {{this.effectKey}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="effectKeyDropdown">
                    <li><button class="dropdown-item" type="button" v-on:click="changeEffectKey('Positive')">Positive</button></li>
                    <li><button class="dropdown-item" type="button" v-on:click="changeEffectKey('Negative')">Negative</button></li>
                    <li><button class="dropdown-item" type="button" v-on:click="changeEffectKey('Medical')">Medical</button></li>
                </ul>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="effectDropdown" data-toggle="dropdown" aria-expanded="false">
                    {{this.effect}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="effectDropdown" style="overflow: auto; max-height: 10rem;">
                    <div v-if="this.effectKey == 'Positive'">
                        <li v-for="effect in this.effectsPositive" v-bind:key="effect"><button class="dropdown-item" type="button" v-on:click="changeEffect(effect.effect)">{{effect.effect}}</button></li>
                    </div>
                    <div v-if="this.effectKey == 'Negative'">
                        <li v-for="effect in this.effectsNegative" v-bind:key="effect"><button class="dropdown-item" type="button" v-on:click="changEffect(effect.effect)">{{effect.effect}}</button></li>
                    </div>
                    <div v-if="this.effectKey == 'Medical'">
                        <li v-for="effect in this.effectsMedical" v-bind:key="effect"><button class="dropdown-item" type="button" v-on:click="changeEffect(effect.effect)">{{effect.effect}}</button></li>
                    </div>
                </ul>
            </div>
            <div v-else-if="this.key == 'Flavor'">
                <p> What flavor are you looking for? </p>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="flavorDropdown" data-toggle="dropdown" aria-expanded="false">
                    {{this.flavor}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="flavorDropdown" style="overflow: auto; max-height: 10rem;">
                    <li v-for="flavor in this.$props.searchFilters.flavors" v-bind:key="flavor"><button class="dropdown-item" type="button" v-on:click="changeFlavor(flavor)">{{flavor}}</button></li>
                </ul>
            </div>
        </form>
        <!-- <div id="SearchFilters">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color: #783577; border-color: #4a044b;">
                Filters
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        {{filterHtml()}}
                        <h5><strong>Effects</strong></h5>
                        <div class="col-4">
                            <p><strong>Positive:</strong></p>
                            <p>
                                <span v-html="this.test"></span>
                            </p>
                        </div>
                        <div class="col-4">
                            <p><strong>Negative:</strong></p>
                            <p>
                                <span v-html="this.effectsHtml.negative"></span>
                            </p>                        
                        </div>
                        <div class="col-4">
                            <p><strong>Medical:</strong></p>
                            <p>
                                <span v-html="this.effectsHtml.medical"></span>
                            </p>                        
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h5><strong>Flavors</strong></h5>
                        <p style="overflow: auto; max-height: 25vh;">
                            <span v-html="this.flavorsHtml"></span>
                        </p> 
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</template>

<script>
export default {
    name: "SearchBox",
    props: ["searchFilters"],
    data() {
        return {
            search: "",
            searchHtml: "",
            key: "Name",
            flavor: "Select",
            effectKey: "Positive",
            effect: "Select",
            effectsPositive: [],
            effectsNegative: [],
            effectsMedical: [],
            effectsHtml: {
                negative: "",
                medical: ""
            },
            flavorsHtml: "",
        }
    },
    methods: {
        newSearch(e) {
            e.preventDefault();
            this.$emit('new-search', this.search);
            document.getElementById('StrainList2').scrollTop = 0;
        },
        changeKey(key) {
            this.key = key;
            for(var i = 0; i < this.$props.searchFilters.effects.length; i++) {
                var effect = this.$props.searchFilters.effects[i];
                if(effect.type == "positive") this.effectsPositive.push(effect);
                else if(effect.type == "negative") this.effectsNegative.push(effect);
                else if(effect.type == "medical") this.effectsMedical.push(effect);
            }
            this.$emit('change-key', this.key);
            if(key == "Name") this.search = "";
        },
        changeEffectKey(key) {
            this.effectKey = key;
        },
        changeEffect(effect) {
            this.effect = effect;
            this.search = effect;
            this.$emit('new-search', this.search);
            document.getElementById('StrainList2').scrollTop = 0;
        },
        changeFlavor(flavor) {
            this.flavor = flavor;
            this.search = flavor;
            this.$emit('new-search', this.search);
            document.getElementById('StrainList2').scrollTop = 0;
        },
        filterHtml() {
            this.effectsHtml.negative = "";
            this.effectsHtml.medical = "";
            var test = "";
            for(var i = 0; i < this.$props.searchFilters.effects.length; i++) {
                var effect = this.$props.searchFilters.effects[i];
                if(effect.type == "positive")
                    test += '<div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="'+effect.effect+'"> <label class="form-check-label" for="'+effect.effect+'">'+effect.effect+'</label></div>';
                /*else if(effect.type == "negative")
                    this.effectsHtml.negative += '<div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="'+effect.effect+'"> <label class="form-check-label" for="'+effect.effect+'">'+effect.effect+'</label></div>';
                else if(effect.type == "medical")
                    this.effectsHtml.medical += '<div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="'+effect.effect+'"> <label class="form-check-label" for="'+effect.effect+'">'+effect.effect+'</label></div>';
                */
               this.test = test;
            }

            /*this.flavorsHtml = "";
            for(var j = 0; j < this.$props.searchFilters.flavors.length; j++) {
                var flavor = this.$props.searchFilters.flavors[j]
                this.flavorsHtml += '<div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="'+flavor+'"> <label class="form-check-label" for="'+flavor+'">'+flavor+'</label></div>';
            }*/
        }
    }
}
</script>

<style scoped>
    #SearchBox
    {
        margin: auto;
        margin-top: 1rem;
    }

    #SearchFilters
    {
        margin-top: 1rem;
    }

    .btn
    {
        background-color: #357836;
        border-color: #004b0c;
        margin-bottom: .5rem;
        margin-top: .5rem;
        margin-right: 1rem;
    }
</style>