<template>
    <div id="StrainList2" class="col-4" style="overflow: auto;  padding: 1rem; margin: auto;">
        <p>I've found <strong>{{this.strains.length}}</strong> strains for you!</p>
        <p style="font-size: xx-small; margin-top: -1rem;">Key: {{this.$props.skey}}, Query: {{this.$props.query}}</p>
        <div v-if="this.$props.strains.length > 0">
            {{createListItems()}}
            <span v-html="listItem"></span>
            {{pollStrain()}}
        </div>
        <div v-else>
            <p><i>Sorry, I couldn't find any strains that matched your search :(</i></p>
        </div>
    </div>
</template>

<script>
export default {
    name: "StrainList2",
    props: ["strains", "skey", "query"],
    data() {
        return {
            listItem: "",
            selectedStrainId: "",
        }
    },
    methods: {
        createListItems() {
            var html = "";
            html += '<div class="list-group" id="list-tab" role="tablist">';
            for(var i = 0; i < this.$props.strains.length; i++) {
                var strain = this.$props.strains[i];
                if(strain.id == this.selectedStrainId)
                    html += '<a class="list-group-item list-group-item-action active" style="color: #ffffff; background-color: #783577; border-color: #4a044b;" id="list-'+strain.id+'-list" data-toggle="list" href="#list-content" role="tab" aria-controls="'+strain.name+'" data-strainid="'+strain.id+'" data-strainname="'+strain.name+'" data-strainrace="'+strain.race+'">'+strain.name+'</a>';
                else
                    html += '<a class="list-group-item list-group-item-action" style="color: #000000; background-color: #a6d3a8;" id="list-'+strain.id+'-list" data-toggle="list" href="#list-content" role="tab" aria-controls="'+strain.name+'" data-strainid="'+strain.id+'" data-strainname="'+strain.name+'" data-strainrace="'+strain.race+'">'+strain.name+'</a>';
            }
            html += '</div>';
            this.listItem = html;
        },
        selectStrain() {
            var ancestor = document.getElementById('list-tab');
            if(ancestor == null) return;
            var descendents = ancestor.getElementsByTagName('*');

            for (var i = 0; i < descendents.length; i++) {
                var el = descendents[i];
                if(el.getAttribute("aria-selected") == "true") {
                    if(el.getAttribute("data-strainid") != this.selectedStrainId) {
                        this.selectedStrainId = el.getAttribute("data-strainid");
                        var selectedStrain = {
                            id: el.getAttribute("data-strainid"),
                            name: el.getAttribute("data-strainname"),
                            race: el.getAttribute("data-strainrace")
                        }
                        this.$emit('select-strain', selectedStrain);
                    }
                }
            }

            var width = window.innerWidth
                    || document.documentElement.clientWidth
                    || document.body.clientWidth;
            if(width < 700)
            {
                document.getElementById("StrainList2").classList.remove('col-4');
                document.getElementById("StrainList2").classList.add('row');
                document.getElementById("StrainList2").style.height = "20vh";
                document.getElementById("StrainContent").classList.remove('col-8');
                document.getElementById("StrainContent").classList.add('row');
                document.getElementById("StrainContent").style.height = "50vh";
                document.getElementsByClassName("list")
                console.log("SMALL")
            }
            else
            {
                document.getElementById("StrainList2").classList.remove('row');
                document.getElementById("StrainList2").classList.add('col-4');
                document.getElementById("StrainList2").style.height = "80vh";
                document.getElementById("StrainContent").classList.remove('row');
                document.getElementById("StrainContent").classList.add('col-8');
                document.getElementById("StrainContent").style.height = "80vh";
                console.log("BIG")
            }
        },
        pollStrain() {
            setInterval(this.selectStrain, 10);
        }
    }
}
</script>

<style scoped>

</style>