<template>
    <div id="StrainList" class="container-lg row">
        <div id="SLI" class="col-4" v-bind:key="strain" v-for="strain in strains">
            <StrainListItem v-on:open-strainmodal="openStrainModal" v-bind:strain="strain"/>
        </div>
    </div>
</template>

<script>
import StrainListItem from './StrainListItem';

export default {
    name: "StrainList",
    components: {
        StrainListItem
    },
    props: ["strains"],
    methods: {
        openStrainModal(strainModalInfo) {
            this.$emit('open-strainmodal', strainModalInfo);
        }
    }
}
</script>

<style scoped>
    #StrainList
    {
        margin: auto;
    }

    #SLI
    {
        width: 25rem;
        margin: auto;
    }
</style>