<template>
    <div id="StrainListItem" class="card text-white bg-success mb-3 list-group-item">
        <div class="card-header">
            <h4 class="card-title">{{strain.name}}</h4>
        </div>
        <div class="card-body">
            <!-- <p class="card-title" style="margin-bottom: .5rem;"><strong>{{strain.race}}</strong></p> -->
            <div v-if="strain.desc">
                <p class="card-text">{{strain.desc}}</p>
            </div>
            <div v-else>
                <p class="card-text"><i>Sorry, no description available :(</i></p>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-dark" v-on:click="openStrainModal" data-toggle="modal" data-target="#exampleModal">Learn more...</button>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "StrainListItem",
    props: ["strain"],
    data() {
        return {
            strainModalInfo: []
        }
    },
    methods: {
        openStrainModal: function(e) {
            e.preventDefault();
            this.strainModalInfo = {
                name: this.$props.strain.name,
                race: this.$props.strain.race,
                desc: this.$props.strain.desc,
                effects: {
                    positive: [],
                    negative: [],
                    medical: []
                },
                flavors: []
            }
            axios.get(`http://strainapi.evanbusse.com/efLutUY/strains/data/effects/${this.$props.strain.id}`)
            .then(res => this.strainModalInfo.effects = res.data)
            .catch(err => console.log(err));
            axios.get(`http://strainapi.evanbusse.com/efLutUY/strains/data/flavors/${this.$props.strain.id}`)
            .then(res => this.strainModalInfo.flavors = res.data)
            .catch(err => console.log(err));
            this.$emit('open-strainmodal', this.strainModalInfo);
        }
    }
}
</script>

<style scoped>
    .card
    {
        width: 100%;
    }

    .card-title
    {
        margin-bottom: -.25rem;
    }

    .card-body
    {
        height: 9.5rem;
    }

    .card-text
    {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;
        text-align: justify;
    }
</style>