<template>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel"><strong>{{strainModalInfo.name}} ({{strainModalInfo.race}})</strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about" aria-selected="true">Information</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-images-tab" data-toggle="pill" href="#pills-images" role="tab" aria-controls="pills-images" aria-selected="false">Images</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-videos-tab" data-toggle="pill" href="#pills-videos" role="tab" aria-controls="pills-videos" aria-selected="false">Videos</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
                                <div class="row"> 
                                    <hr>
                                    <h5><strong>Description:</strong></h5>
                                    <div v-if="strainModalInfo.desc">
                                        <p id="description">{{strainModalInfo.desc}}</p>
                                    </div>
                                    <div v-else>
                                        <p id="description"><i>Sorry, no description available :(</i></p>
                                    </div>
                                </div>
                                <hr>
                                <h5><strong>Effects:</strong></h5>
                                <div class="row">
                                    <div class="col-4">
                                        <p><strong>Positive</strong></p>
                                        <div v-if="strainModalInfo.effects.positive.length > 0">
                                            <ul v-bind:key="effect" v-for="effect in strainModalInfo.effects.positive">
                                                <li>{{effect}}</li>
                                            </ul>
                                        </div>
                                        <div v-else>
                                            <p>N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p><strong>Negative</strong></p>
                                        <div v-if="strainModalInfo.effects.negative.length > 0">
                                            <ul v-bind:key="effect" v-for="effect in strainModalInfo.effects.negative">
                                                <li>{{effect}}</li>
                                            </ul>
                                        </div>
                                        <div v-else>
                                            <p>N/A</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p><strong>Medical</strong></p>
                                        <div v-if="strainModalInfo.effects.medical.length > 0">
                                            <ul v-bind:key="effect" v-for="effect in strainModalInfo.effects.medical">
                                                <li>{{effect}}</li>
                                            </ul>
                                        </div>
                                        <div v-else>
                                            <p>N/A</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <h5><strong>Flavors:</strong></h5>
                                    <div v-if="strainModalInfo.flavors.length > 0">
                                        <ul v-bind:key="flavor" v-for="flavor in strainModalInfo.flavors">
                                            <li>{{flavor}}</li>
                                        </ul>
                                    </div>
                                    <div v-else>
                                        <p>N/A</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-images" role="tabpanel" aria-labelledby="pills-images-tab">
                                <div v-if="strainModalImages.items">
                                <ul v-bind:key="item" v-for="item in strainModalImages.items">
                                    {{updateImage(item)}}
                                    <li>
                                        <hr>
                                        <p><strong>{{item.title}}</strong></p>
                                        <span v-html="image"></span>
                                    </li>
                                </ul>
                                </div>
                                <div v-else>
                                    <hr>
                                    <p><i>Oops, seems like the Google Custom Search API quota is exceeded :(</i></p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-videos" role="tabpanel" aria-labelledby="pills-videos-tab">
                                <div v-if="strainModalVideos.items">
                                <ul v-bind:key="item" v-for="item in strainModalVideos.items">
                                    {{updateVideoFrame(item)}}
                                    <li>
                                        <hr>
                                        <p><strong>{{item.snippet.title}}</strong></p>
                                        <span v-html="videoframe"></span>
                                    </li>
                                </ul>
                                </div>
                                <div v-else>
                                    <hr>
                                    <p><i>Oops, seems like the Google YouTube Data API v3 quota is exceeded :(</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "StrainModal",
    props: ["strainModalInfo", "strainModalVideos", "strainModalImages"],
    data() {
        return {
            videoframe: "",
            image: ""
        }
    },
    methods: {
        updateVideoFrame(item) {
            this.videoframe = '<iframe src="https://www.youtube.com/embed/'+item.id.videoId+'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
        },
        updateImage(item) {
            this.image = '<a href="'+item.link+'" target="_blank"><img src="'+item.link+'" class="img-fluid" alt="'+item.title+'">';
        }
    }
}
</script>

<style scoped>
   #description
   {
       text-align: left;
   }

   ul
   {
       list-style-type: none;
       margin: 0;
       margin-top: .25rem;
       padding: 0;
   }

   .nav-link.active
   {
       background-color: #28a745;
   }

   a
   {
       color: #28a745;
   }
</style>