<template>
            <div id="StrainContent" class="col-8" style="height: 66vh; padding: 1rem; margin: auto;">
                <h4 style="margin-bottom: 2rem;"><strong>{{strainContentInfo.name}} ({{strainContentInfo.race}})</strong></h4>
                <hr>
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about" aria-selected="true">Information</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-images-tab" data-toggle="pill" href="#pills-images" role="tab" aria-controls="pills-images" aria-selected="false">Images</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-videos-tab" data-toggle="pill" href="#pills-videos" role="tab" aria-controls="pills-videos" aria-selected="false">Videos</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
                        <div class="row"> 
                            <hr>
                            <h5><strong>Description:</strong></h5>
                            <div v-if="strainContentInfo.desc">
                                <p id="description">{{strainContentInfo.desc}}</p>
                            </div>
                            <div v-else>
                                <p id="description"><i>Sorry, no description available :(</i></p>
                            </div>
                            <hr>
                            <h5><strong>Effects:</strong></h5>
                            <div class="row" style="margin: auto;">
                                <div class="col-4">
                                    <p><strong>Positive</strong></p>
                                    <div v-if="strainContentInfo.effects.positive.length > 0">
                                        <ul v-bind:key="effect" v-for="effect in strainContentInfo.effects.positive">
                                            <li>{{effect}}</li>
                                        </ul>
                                    </div>
                                    <div v-else>
                                        <p>N/A</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <p><strong>Negative</strong></p>
                                    <div v-if="strainContentInfo.effects.negative.length > 0">
                                        <ul v-bind:key="effect" v-for="effect in strainContentInfo.effects.negative">
                                            <li>{{effect}}</li>
                                        </ul>
                                    </div>
                                    <div v-else>
                                        <p>N/A</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <p><strong>Medical</strong></p>
                                    <div v-if="strainContentInfo.effects.medical.length > 0">
                                        <ul v-bind:key="effect" v-for="effect in strainContentInfo.effects.medical">
                                            <li>{{effect}}</li>
                                        </ul>
                                    </div>
                                    <div v-else>
                                        <p>N/A</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="margin: auto;">
                                    <h5><strong>Flavors:</strong></h5>
                                    <div v-if="strainContentInfo.flavors.length > 0">
                                        <ul v-bind:key="flavor" v-for="flavor in strainContentInfo.flavors">
                                            <li>{{flavor}}</li>
                                        </ul>
                                    </div>
                                    <div v-else>
                                        <p>N/A</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-images" role="tabpanel" aria-labelledby="pills-images-tab">
                        <div v-if="strainContentImages.items && strainContentImages.items.length > 0">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {{updateImages()}} 
                                    <span v-html="image"></span>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div v-else>
                            <hr>
                            <p><i>Oops, seems like the Google Custom Search API quota is exceeded :(</i></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-videos" role="tabpanel" aria-labelledby="pills-videos-tab">
                        <div v-if="strainContentVideos.items && strainContentVideos.items.length > 0">
                           <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {{updateVideoFrame()}} 
                                    <span v-html="videoframe"></span>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div v-else>
                            <hr>
                            <p><i>Nani?!?! I couldn't find any videos for this strain :o</i></p>
                            <p style="font-size: xx-small;">(or API quota is exceeded)</p>
                        </div>
                    </div>
                </div>
            </div>
</template>

<script>
export default {
    name: "StrainContent",
    props: ["strainContentInfo", "strainContentVideos", "strainContentImages"],
    data() {
        return {
            videoframe: "",
            image: ""
        }
    },
    methods: {
        updateVideoFrame() {
             if(!this.$props.strainContentVideos.items) return;
            var html = "";
            var active = true;
            
            var width = window.innerWidth
                    || document.documentElement.clientWidth
                    || document.body.clientWidth;

            if(width > 700) {
                for(var i = 0; i < this.$props.strainContentVideos.items.length; i++) {
                    var item3 = this.$props.strainContentVideos.items[i];
                    if(active)
                        html += '<div class="carousel-item active"> <h5 style="margin-bottom: 1rem;"><strong>'+item3.snippet.title+'<strong></h5> <iframe src="https://www.youtube.com/embed/'+item3.id.videoId+'" style="width: 100vh; height: 55vh; margin-bottom: 2rem;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>';
                    else
                        html += '<div class="carousel-item"> <h5 style="margin-bottom: 1rem;"><strong>'+item3.snippet.title+'<strong></h5> <iframe src="https://www.youtube.com/embed/'+item3.id.videoId+'" style="width: 100vh; height: 55vh; margin-bottom: 2rem;" rameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>';
                    active = false;
                }
            }
            else
            {
                for(var j = 0; j < this.$props.strainContentVideos.items.length; j++) {
                    var item4 = this.$props.strainContentVideos.items[j];
                    if(active)
                        html += '<div class="carousel-item active"> <h5 style="margin-bottom: 1rem;"><strong>'+item4.snippet.title+'<strong></h5> <iframe src="https://www.youtube.com/embed/'+item4.id.videoId+'" style="width: 100%; height: 100%; margin-bottom: 2rem;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>';
                    else
                        html += '<div class="carousel-item"> <h5 style="margin-bottom: 1rem;"><strong>'+item4.snippet.title+'<strong></h5> <iframe src="https://www.youtube.com/embed/'+item4.id.videoId+'" style="width: 100%; height: 100%; margin-bottom: 2rem;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>';
                    active = false;
                }
            }

            this.videoframe = html;
        },
        updateImages() {
            if(!this.$props.strainContentImages.items) return;
            var html = "";
            var active = true;
            
            var width = window.innerWidth
                    || document.documentElement.clientWidth
                    || document.body.clientWidth;

            if(width > 700) {
                for(var i = 0; i < this.$props.strainContentImages.items.length; i++) {
                    var item = this.$props.strainContentImages.items[i];
                    if(active)
                        html += '<div class="carousel-item active"> <a href="'+item.link+'" target="_blank"> <img src="'+item.link+'" class="center" style="height: max-height: 75vh; auto; width: auto; max-width: 80vh;" alt="'+item.title+'"> </a> </div>';
                    else
                        html += '<div class="carousel-item"> <a href="'+item.link+'" target="_blank"> <img src="'+item.link+'" class="center" style="height: auto; max-height: 75vh; width: auto; max-width: 80vh;" alt="'+item.title+'"> </a> </div>';
                    active = false;
                }
            }
            else
            {
                for(var j = 0; j < this.$props.strainContentImages.items.length; j++) {
                    var itemm = this.$props.strainContentImages.items[j];
                    if(active)
                        html += '<div class="carousel-item active"> <a href="'+itemm.link+'" target="_blank"> <img src="'+itemm.link+'" class="center" style="width: 100%; margin-bottom: 2rem;" alt="'+itemm.title+'"> </a> </div>';
                    else
                        html += '<div class="carousel-item"> <a href="'+itemm.link+'" target="_blank"> <img src="'+itemm.link+'" class="center" style="width: 100%; margin-bottom: 2rem;" alt="'+itemm.title+'"> </a> </div>';
                    active = false;
                }
            }

            this.image = html;
            //this.image = '<a href="'+item.link+'" target="_blank"><img src="'+item.link+'" class="img-fluid" style="max-height: 75vh;" alt="'+item.title+'">';
        }
    }
}
</script>

<style scoped>
   ul
   {
       list-style-type: none;
       margin: 0;
       margin-top: .25rem;
       padding: 0;
   }

   .nav-link.active
   {
       background-color: #357836;
       border-color: #83c385;
   }

   a
   {
       color: #357836;
   }

    .carousel-control-next-icon {
        filter: drop-shadow(.5rem 0px #a962a6);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 1.5rem;
        border-width: 4rem;
        padding: 1rem;
    }

    .carousel-control-prev-icon {
        filter: drop-shadow(-.5rem 0px #a962a6);
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 1.5rem;
        border-width: 4rem;
        padding: 1rem;
    }

    .carousel-control-next-icon:hover {
        filter: drop-shadow(.5rem 0px #a962a6);
        width: 4rem;
        height: 4rem;
    }

    .carousel-control-prev-icon:hover {
        filter: drop-shadow(-.5rem 0px #a962a6);
        width: 4rem;
        height: 4rem;

    }
</style>