<template>
  <div id="app" class="container-fluid">
    <Navbar v-on:new-search="newSearch"/>
    <div class="container-md">
      <SearchBox v-on:new-search="newSearch" v-on:change-key="changeKey" v-bind:searchFilters="searchFilters"/>
      <!-- <StrainModal v-bind:strainModalInfo="strainModalInfo" v-bind:strainModalVideos="strainModalVideos" v-bind:strainModalImages="strainModalImages"/> -->
      <!-- <StrainList v-on:open-strainmodal="openStrainModal" v-bind:strains="strains"/> -->
      <div class="row">
          <div class="d-lg-none"><hr></div>
          <StrainList2 v-bind:strains="strains" v-on:select-strain="getStrainContent" v-bind:skey="searchKey" v-bind:query="searchQuery"/>
          <div class="d-lg-none"><hr></div>
          <StrainContent v-bind:strainContentInfo="strainContentInfo" v-bind:strainContentVideos="strainContentVideos" v-bind:strainContentImages="strainContentImages"/>
      </div>
    </div>
    <div class="row" id="footer" data-toggle="modal" data-target="#exampleModal">
      © 2020 Alex Ochs - Legal Disclaimers, etc.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Legal Disclaimers</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>App made by:</strong> <br> Alex Ochs <br> <a href="mailto:contact@axlworld.de">contact@axlworld.de</a> | <a href="mailto:alex.ochs@mni.thm.de">alex.ochs@mni.thm.de</a></p>
            <p> <strong> Data Privacy: </strong> <br> This app does not include any cookies itself, nor does it save any user data. <br> Following APIs are used and <i> may </i> use cookies and/or user data:
              <ul style="list-style: none; margin-left: -2rem;">
                <li><a href="http://strains.evanbusse.com/index.html">Evan Busse's Strain API</a></li>
                <li><a href="https://developers.google.com/custom-search">Google's Custom Search API</a></li>
                <li><a href="https://developers.google.com/youtube/v3">YouTube Data API v3</a></li>
              </ul>
            </p>
            <p> By using this app you acknowledge <strong> and </strong> accept that data <i> may </i> be send to third party services.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" style="background-color: #357836;">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from './components/Navbar';
import SearchBox from './components/SearchBox';
import StrainList2 from './components/StrainList2';
import StrainContent from './components/StrainContent';
import axios from 'axios';

export default {
  name: 'App',
  components: {
    Navbar,
    SearchBox,
    StrainList2,
    StrainContent
  },
  data() {
    return {
      strains: [],
      strainContentInfo: [],
      strainContentVideos: [],
      strainContentImages: [],
      searchFilters: {
        effects: [],
        flavors: []
      },
      searchKey: "Name",
      searchQuery: "Haze"
    }
  },
  methods: {
    newSearch(search) {
      this.searchQuery = search;
      if(this.searchKey == "Name") {
        axios.get(`http://strainapi.evanbusse.com/efLutUY/strains/search/name/${search}`)
          .then(res => this.strains = res.data)
          .catch(err => console.log(err));
      }
      else if(this.searchKey == "Effect") {
        axios.get(`http://strainapi.evanbusse.com/efLutUY/strains/search/effect/${search}`)
          .then(res => this.strains = res.data)
          .catch(err => console.log(err));
      }
      else if(this.searchKey == "Flavor") {
        axios.get(`http://strainapi.evanbusse.com/efLutUY/strains/search/flavor/${search}`)
          .then(res => this.strains = res.data)
          .catch(err => console.log(err));
      }
    },
    changeKey(key) {
      this.searchKey = key;
      if(key == "Name") this.search = "";
    },
    updateVideos() {
        axios.get(`https://www.googleapis.com/youtube/v3/search?type=video&part=snippet&q=${this.strainContentInfo.name} cannabis&maxResults=10&key=AIzaSyD_Ln7wuXaOg8_IgomChS3GeiJn89phgdE`)
            .then(res => this.strainContentVideos = res.data)
            .catch(err => console.log(err));
    },
    updateImages() {
      axios.get(`https://www.googleapis.com/customsearch/v1?key=AIzaSyDo9ZxfbRPlKyowvxw-d62VoGGbXpFJge0&cx=d498589ec6c8a7125&q=${this.strainContentInfo.name} cannabis&searchType=image&alt=json&num=10`)
            .then(res => this.strainContentImages = res.data)
            .catch(err => console.log(err));
    },
    getStrainContent(selectedStrain) {
      this.strainContentInfo = {
                id: selectedStrain.id,
                name: selectedStrain.name,
                race: selectedStrain.race,
                desc: "",
                effects: {
                    positive: [],
                    negative: [],
                    medical: []
                },
                flavors: []
            }
      console.log(this.strainContentInfo.id);
      axios.get(`http://strainapi.evanbusse.com/efLutUY/strains/data/desc/${this.strainContentInfo.id}`)
            .then(res => this.strainContentInfo.desc = res.data.desc)
            .catch(err => console.log(err));
      axios.get(`http://strainapi.evanbusse.com/efLutUY/strains/data/effects/${this.strainContentInfo.id}`)
            .then(res => this.strainContentInfo.effects = res.data)
            .catch(err => console.log(err));
      axios.get(`http://strainapi.evanbusse.com/efLutUY/strains/data/flavors/${selectedStrain.id}`)
            .then(res => this.strainContentInfo.flavors = res.data)
            .catch(err => console.log(err));
      this.updateVideos();
      this.updateImages();
    }
  },
  created() {
    axios.get('http://strainapi.evanbusse.com/efLutUY/strains/search/name/Haze')
      .then(res => this.strains = res.data)
      .catch(err => console.log(err));

    axios.get('http://strainapi.evanbusse.com/efLutUY/searchdata/effects')
      .then(res => this.searchFilters.effects = res.data)
      .catch(err => console.log(err));

    axios.get('http://strainapi.evanbusse.com/efLutUY/searchdata/flavors')
      .then(res => this.searchFilters.flavors = res.data)
      .catch(err => console.log(err));
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: auto;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4a044b;
  color: white;
  text-align: center;
  margin: auto;
}
</style>
